.home-info {
  text-align: center;
  padding: 1rem 0 3.5rem;
}

.home-title {
  color: $c-black;
  font-size: rem(22px);
  font-weight: 300;
  margin-bottom: 5px;
  text-align: center;
}

.home-position {
  color: $c-grey300;
  font-size: rem(18px);
  text-align: center;

  a {
    background-color: $c-grey100-hover;
    border-radius: 2px;
    padding: 2px 5px;
    display: inline-block;
  }
}

.home-nav {
  background-color: $c-grey100;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;

  @media screen and (max-width: $phablet) {
    background-color: $c-grey100-hover;
  }
}

.home-nav-list {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 1;
  }

  a {
    display: inline-block;
    font-size: rem(22px);
    font-weight: 300;
    padding-bottom: 5px;
    text-align: center;
  }

  li:nth-child(2) a {
    color: darken($font-primary, 30%);

    &:hover {
      color: darken($font-primary, 50%);
    }
  }

  @media screen and (max-width: $phablet) {
    a {
      font-size: rem(20px);
      padding: 8px 0 11px;
      width: 100%;
    }

    li:nth-child(2) a {
      background-color: $c-grey100;
    }

    li {
      flex: 100% 1;
    }
  }
}

.home-greetings {
  padding-top: rem(8px);
  text-align: center;

  a {
    color: $c-grey300;
    font-size: rem(18px);

    &:hover {
      color: $c-grey400;
    }
  }

  span {
    color: $c-grey400;
  }
}

.home-bio {
  color: $c-grey300;
  font-size: rem(16px);
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
  max-width: 380px;
  text-align: center;
  padding: 3rem 1rem 2rem;
}
