.blinking-cursor::after {
  animation: 1s blink step-end infinite;
  content: '|';
  color: inherit;
  font-size: inherit;
  position: relative;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: inherit;
  }
}
