.footer-social {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  a {
    display: inline-block;
    margin-left: 0.5rem;

    &:first-child {
      margin-left: none;
    }
  }

  @media screen and (max-width: $phone) {
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
