.header {
  padding: 1rem;
  display: flex;
}

.header-logo {
  @include retina-background-image(
    '/assets/png/martosjose-logo',
    'png',
    64px,
    64px
  );

  height: 64px;
  overflow: hidden;
  text-indent: -300px;
  width: 64px;
  display: block;

  @media screen and (max-width: $phone) {
    background-size: cover;
    height: 48px;
    margin: auto;
    width: 48px;
  }
}
